body {
    font-family: Times, serif;
    color: black;
    background: white;
}

a {
    color: black;
    text-decoration: none;
}

img {
    max-width: 200px;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}
